[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dash = "*"
dash-html-components = "*"
dash-table = "*"

[dev-packages]

[requires]
python_version = "3.6"
